# macOS
*.DS_Store
.AppleDouble
.LSOverride

# NetBeans
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/

# Gradle
# Ignore the .gradle directory, which stores caches and build information.
.gradle/

# Ignore all build directories, both at the root and in sub-projects.
build/
*/build/

# Ignore the Gradle wrapper JAR file. The wrapper script will download it if needed.
gradle/wrapper/gradle-wrapper.jar
