# macOS
*.DS_Store
.AppleDouble
.LSOverride

# NetBeans
*/nbproject/private/
*/build/
*/nbbuild/
*/dist/
*/nbdist/
*/.nb-gradle/

# Gradle
.gradle/

# Gradle wrapper JAR intentionally omitted in some branches, but good to ignore.
gradle/wrapper/gradle-wrapper.jar
